.idstyle {
    padding: 5px;
    padding-top: 15px;
  }
  .shortlistinterest {
    /* margin-right: 20px; */
    padding: 20px;
    padding-left: 0px;
    display: flex;
  }
  .match {
    padding-top: 5px;
    padding-left: 10px;
    color: grey;
  }
  .btn {
    width: 150px;
    padding-right: 15px;
    margin-right: 10px;
  }
  .nav-link {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
  }
  a {
    color: #dc3545;
    text-decoration: none;
    /* background-color: transparent; */
  }
  .nav {
    background-color: #f85a54;
    /* flex-direction: column; */
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: #ffffff;
    color: var(--text_color);
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 15px;
    margin: 0 -2px 0 0;
    border-radius: 0;
    /* border: 1px solid #d3d3d3; */
    border-bottom: 1px solid #f9413b;
    border-top: 1px solid #f9413b;
    border-left: 1px solid #f9413b;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* transition: all 0.20s ease 0s; */
  }
  /* .border{
      border: 1px solid #F9413B;
  } */
   
  .nav-pills {
    text-align: center;
  }
  /* a:active {
      background-color: rgb(236, 206, 206);
  } */
  .tab-content {
    float: left;
    /* padding: 0px 12px; */
    /* border: 2px solid #ccc; */
    border: 1px solid #f9413b;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  .container {
    /* background-color:#fd6d6d; */
    margin-bottom: 10px;
  }
  .img-fluid {
    /* max-width: 60%; */
    height: 250px;
  }
  .part1 {
    background-color: white;
  }
  .test1 {
    margin-top: 20px;
    /* background-color:blue; */
  }
  
  b {
    font-weight: 450;
  }
  
  
  h5 {
      font-size: 1.05rem;
      padding-top: 10px;
    }
  .about_title{
      padding-top: 10px;
      margin-bottom:2px;
      /* padding-left: 20px; */
      color: black; 
  }
  
  
  .about_p_details{
      font-size: 80%;
      color: black;
      padding-top: 5px;   
  }
  .about_p_details_d2{
      font-size: 80%;
      color: black;
      padding: 5px;  
      background-color: #f4f0f0;
  }
  
  .partner {
    text-align: center;
    align-items: center;
    color: black;
    padding-top: 10px;
  }
  .slider {
    padding-top: 20px;
  }
  /* carousel style */
  /* .stest{
      background-color:#F9F6F6;
  } */
  /* .stest1{
      background-color:blue
  }*/
  .stest2 {
    background-color: #fcfcfc;
  }
  .small,
  small {
    font-size: 80%;
    font-weight: 450;
  }
  .thumb-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* .col{
      padding-right: 10px;
      padding-left: 10px;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 70%;
  } */
  .bodyy {
    background-color: #ffffff;
    display: inline-block;
  }
  
  .successb {
    display: flex;
    color: red;
    border: 1px solid #f9413b;
    padding: 20px;
  }
  .similartext {
      padding-right: 20px;
      padding-bottom: 0px;
    }
  hr {
    margin: 0px;
  }
  .title {
    display: flex;
    padding-left: 0px;
    margin-left: 0px;
  }
  /* similar profile style */
  .carousel-control-next,
  .carousel-control-prev {
    /* position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center; */
    width: 5%;
    /*  color: red;  */
    /* text-align: center;
      opacity: .5;
      transition: opacity .15s ease; */
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    filter: invert(100%);
  }
  /* .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 45px;
    color: red;
  }
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 45px;
    color: red;
  } */
  .img-box {
    width: 100%;
  }
  .col {
    padding-right: 10px;
  }
  
  .pro {
    background-color: grey;
  }
  .progress-bar {
    width: 30%;
  }
  .progress {
    width: 15%;
    margin: 5px;
    margin-top: 7px;
    border: red;
  }
  .onlytest {
    background-color: blue;
  }
  @media only screen and (max-width: 700px) {
    .about-first-part {
      background: red;
    }
  }
  @media (max-width: 576px) {
    .col-sm-5 {
      flex: 0 0 28%;
      max-width: 28%;
    }
  }
  @media (max-width: 576px) {
    .secondpart {
      flex: 0 0 68%;
      max-width: 68%;
    }
  }
  @media (max-width: 576px) {
    .colon {
      flex: 0 0 4%;
      max-width: 4%;
    }
  }
  .title_padding {
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .basic {
    margin-top: 10px;
  }
  @media (max-width: 576px) {
    .detail_first_part {
      max-width: 30%;
      padding-right: 0px;
      padding-left: 0px;
      /* border-bottom: 1px solid #F9413B; 
      border-top: 1px solid #F9413B;  */
      /* border-left: 1px solid #F9413B; */
    }
    h6{
      font-size: 0.7em;
      line-height: 1.3;
      font-weight: 550;
    }
  
    .detail_second_part {
      max-width: 70%;
      padding-right: 1px;
      padding-left: 0px;
    }
   
  }
  /* @media (max-width: 576px) {
    
  } */
  @media (min-width: 577px) {
    .detail_first_part {
      padding-right: 0px;
    }
    h6 {
      font-size: 0.8em;
      line-height: 1.35;
      font-weight: 450;
    }
  }
  @media (min-width: 577px) {
    .detail_second_part {
      padding-left: 0px;
    }
  }
  .content {
    padding-left: 10px;
  }
  
  .colon_no_padding{
      padding: 0px;
  }
  
  .no_left_padding{
      padding-left: 0px;
  }
  .no_right_padding{
      padding-right: 0px;
  }
  
  .align_content_center{
      text-align: center;
  }
  
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }