.footer-section {
    background: $secondary-color;
    padding: 12px 0px;
    .container {
        padding: 0px;
    }
    .copyright {
        @include maven-medium;
        margin: 0px;
        font-size: 13px;
        line-height: 18px;
        text-align: right;
        color: $white-color;
    }
}

@media screen and (max-width: 767px) {
    .footer-section {
        .container {
            max-width: 100%;
            .row {
                margin: 0px;
            }
        }
        .copyright {
            font-size: 11px;
        }
    }
}