.slider-container {
    .slick-arrow {
        &:before {
            color: $primary-text-color;
        }
    }
    .slider-item {
        padding: 0px 10px;
        text-align: center;
        .wrapper {
            background: $white-color;
        }
        .image-wrapper {
            text-align: center;
            img {
                width: 100%;
                max-width: 100%;
                max-height: 180px;
            }
        }
        .content-wrapper {
            padding: 10px;
            h5 {
                font-size: 13px;
                margin: 0px 0px 3px;
                a {
                    display: inline-block;
                    margin: 10px 0px 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .slider-container {
        .slider-item {
            .content-wrapper {
                h5 {
                    font-size: 12px;
                }
            }
        }
    }
}