$primary-color: #ff5a60;
$secondary-color: #0B9FC9;
$header-border-color: #08708E;
$white-color: #FFFFFF;
$black-color: #000000;
$primary-text-color: #7E7E88;
$secondary-text-color: #CCCCCC;
$border-color: #EEEEEE;
$black-opacity-5: rgba($black-color, 0.5);

$page-min-height: calc(100vh - 108px);
$card-height: 230px;
$min-card-height: 75px;
$min-card-wrapper-height: 135px;
$card-action-width: 33px;
$min-card-action-width: 18px;
$card-subtitle-width: 150px;
$card-left-padding: calc(230px + 15px);
$card-right-padding: calc(33px + 15px);
$min-card-left-padding: calc(75px + 5px);
$min-card-right-padding: calc(18px + 5px);